@model ClientViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="text-center">
    <h1>Edit Client</h1>
</div>

<form asp-controller="Client" asp-action="Edit" method="post">
    <label>First Name</label>
    <input class="form-control" type="text" name="first name" value="@Model.FirstName" />
    <label>Last Name</label>
    <input class="form-control" type="text" name="third name" value="@Model.LastName" />
    <label>Telephone</label>
    <input class="form-control" type="tel" name="telephone" value="@Model.Telephone" />
    <label>Email</label>
    <input class="form-control" type="email" name="email" value="@Model.Email" />
    <label>Gender</label>
    <input class="form-control" type="text" name="gender" value="@Model.Gender" />
    <div class="text-right mt-2">
        <button class="btn btn-success" type="submit" asp-route-id="@Model.Id">Edit</button>
        <a class="btn btn-secondary" asp-action="Client">Cancel</a>
    </div>
</form>